@import url("./cssStack/display.css");
@import url("./cssStack/spacing.css");
@import url("./cssStack/mediaScreen.css");



.container {
  background-color: white;
  justify-content: center;
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
}
header {
  text-align: center;
}
